:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

button, input {
    border-radius: 5px;
    padding: 10px;
}

li {
    list-style: none;
}

a {
    color: var(--dark-grayish-blue);
    font-size: clamp(12px, 1rem, 50px) !important;
    text-decoration: none;
}

#navbar, #nav-tabs, #nav-tabs ul, #cart-profile-container, .main-content, .photo-gallery, .description {
    display: flex;
}

.add-to-cart-btn {
    align-items: center;
    background: var(--orange);
    border: none;
    border-radius: 10px;
    color: white;
    flex-basis: 57%;
    font-weight: 700;
}

.add-to-cart-btn:hover {
    opacity: 0.8;
    transition: 0.3s;
    box-shadow: 0 20px 10px var(--pale-orange);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.photo-gallery {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    height: 60vh;
}

.brand-name {
    color: var(--orange);
    font-weight: 700;
    font-size: clamp(12px, 1vw, 40px);
    text-transform: uppercase;
}

.product-title {
    font-size: clamp(20px, 3vw, 70px);
}

.product-price {
    font-size: clamp(20px, 2vw, 70px);
}

.product-discount-label {
    margin-left: 2%;
    background: var(--pale-orange);
    color: var(--orange);
    font-weight: 700;
    padding: 0.5% 1%;
    border-radius: 5px;
}

.product-description {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: clamp(12px, 1.3vw, 40px);
}

.price {
    display: flex;
    align-items: center;
}

.product-original-price {
    font-weight: 700;
    color: var(--grayish-blue);
}


.description {
    box-sizing: border-box;
    max-width: 50%;
    justify-content: center;
    flex-direction: column;
    height: 40vh;
}

.product-image {
    border-radius: 10px;
    box-sizing: border-box;
    width: 70%;
}

.main-content {
    margin-top: 6%;
    align-items: center;
    height: 60vh;
}

.description > * {
    padding: 10px;
}

.main-photo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 70%;
    height: 60vh;
    align-items: center;
}

.product-image {
    border-radius: 20px;
    width: 100%;
}

.product-select {
    display: flex;
    justify-content: space-between;
}

.small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
}

.small-images > * {
    border-radius: 10px;
    max-width: 20%;
}

.quantity-select {
    text-align: center;
    background: var(--light-grayish-blue);
    padding: 1% 2%;
    border-radius: 10px;
    flex-basis: 35%;
}

.quantity-select button, .quantity-select input {
    border: none;
    background-color: transparent;
}

.quantity-select input {
    font-weight: 700;
    text-align: center;
    width: 10%;
}

.nav-element::after {
    background: var(--orange);
    content: '';
    display: block;
    height: 3px;
    margin: auto;
    transition: 0.5s;
    width: 0;
}

.nav-element:hover::after {
    width: 100%;
}

#navbar {
    align-items: center;
    border-bottom: 1px solid var(--grayish-blue);
    justify-content: space-between;
    padding: 4vh 0;
    height: 5vh;
}

#logo {
    margin-right: 5vw;
}

#nav-tabs ul {
    justify-content: space-between;
    width: 40%;
}

#nav-tabs {
    flex-basis: 92%;
    font-size: clamp(12px, 1vw, 50px);
}

#avatar {
    width: clamp(18px, 4vw, 50px);
}

#avatar:hover {
    border: 3px orange solid;
    border-radius: 50%;
    width: clamp(17px, 3vw, 47px);
}

#cart {
    filter: brightness(0);
    width: clamp(15px, 2vw, 25px);
}

#cart-profile-container {
    align-items: center;
    justify-content: space-between;
    flex-basis: 8%;
}

#cart-icon {
    filter: brightness(3);
    margin-right: 1vw;
}

#content {
    margin: 0 auto 10% auto;
    width: 80vw;
}

