:root {
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
}



* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

button, input {
    border-radius: 5px;
    padding: 10px;
}

#navbar, #nav-tabs, #nav-tabs ul, #cart-profile-container, .main-content, .photo-gallery, .description {
    display: flex;

}

#navbar {
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
    border-bottom: 1px solid var(--light-grayish-blue)
}

#logo {
    margin-right: 5vw;
}

#nav-tabs ul {
    gap: 10%;
}

#avatar {
    height: clamp(12px, 10vh, 50px);
}

#cart {
    height: clamp(6px, 4vh, 25px);
}

#cart-profile-container {
    width: 8%;
    align-items: center;
    justify-content: space-between;

}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
    font-size: clamp(12px, 1rem, 50px) !important;
}

#content {
    width: 80vw;
    margin: 0 auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.photo-gallery {
    max-width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description {
    box-sizing: border-box;
    max-width: 50%;
    justify-content: center;
    flex-direction: column;
}

.product-image {
    box-sizing: border-box;
    width: 70%;
    border-radius: 10px;

}

.main-content {
    margin-top: 6%;
}

.description > * {
    padding: 10px;
}

.main-photo {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: column;
    max-width: 70%;
}

.product-image {
    width: 100%;
    border-radius: 20px;
}

.small-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4%;
}

.small-images > * {
    max-width: 20%;
    border-radius: 10px;
}

