:root {
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    --very-dark-blue: hsl(220, 13%, 13%);
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: var(--dark-grayish-blue);
    text-decoration: none;
}

.icon {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.nav-element::after {
    background: var(--orange);
    content: '';
    display: block;
    height: 3px;
    margin: auto;
    transition: 0.5s;
    width: 0;
}

.nav-element:hover::after {
    width: 100%;
}

#navbar, #nav-tabs, #nav-tabs ul, #cart-profile-container {
    align-items: center;
    display: flex;
}

#navbar {
    border-bottom: 1px solid var(--light-grayish-blue);
    justify-content: space-between;
    padding: 4vh 0;
}

#logo {
    margin-right: 5vw;
}

#nav-tabs ul {
    justify-content: space-between;
    width: 40%;
}

#nav-tabs {
    flex-basis: 92%;
    font-size: clamp(12px, 1vw, 50px);
}

#avatar {
    width: clamp(20px, 5vw, 50px);
}

#cart {
    width: clamp(15px, 2vw, 25px);
}

#cart-profile-container {
    align-items: center;
    flex-basis: 8%;
    justify-content: space-between;
}

#content {
    margin: 0 auto;
    width: 80vw;
}
