<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
    <title>Frontend Mentor | E-commerce product page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename="style/main.css") }}">
    <script defer src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
<div id="content">
    <nav id="navbar">
        <div id="nav-tabs">
            <img id="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="Sneakers">
            <ul>
                <li><a class="nav-element" href="">Collections</a></li>
                <li><a class="nav-element" href="">Men</a></li>
                <li><a class="nav-element" href="">Women</a></li>
                <li><a class="nav-element" href="">About</a></li>
                <li><a class="nav-element" href="">Contact</a></li>
            </ul>
        </div>
        <div id="cart-profile-container">
            <img id="cart" src="{{ url_for('static', filename='images/icon-cart.svg') }}" alt="cart">
            <img id="avatar" src="{{ url_for('static', filename='images/image-avatar.png') }}" alt="avatar">
        </div>
    </nav>

    <div class="main-content">
        <div class="photo-gallery">
            <div class="main-photo">
                <img src="{{ url_for('static', filename='images/image-product-1.jpg') }}" alt="image1" class="product-image">
                <div class="small-images">
                    <img src="{{ url_for('static', filename='images/image-product-1.jpg') }}" alt="image1" class="product-image">
                    <img src="{{ url_for('static', filename='images/image-product-2.jpg') }}" alt="image2" class="product-image">
                    <img src="{{ url_for('static', filename='images/image-product-3.jpg') }}" alt="image3" class="product-image">
                    <img src="{{ url_for('static', filename='images/image-product-4.jpg') }}" alt="image4" class="product-image">
                </div>
            </div>
        </div>
        <div class="description">
            <span class="brand-name">Sneaker Company</span>

            <h1 class="product-title">Fall Limited Edition Sneakers</h1>

            <p class="product-description">
                These low-profile sneakers are your perfect casual wear companion. Featuring a
                durable rubber outer sole, they’ll withstand everything the weather can offer.
            </p>

            <div class="price">
                <h2 style="display: inline" class="product-price">$125.00</h2>
                <span class="product-discount-label">50%</span>
            </div>
            <p style="text-decoration: line-through" class="product-original-price">$250.00</p>
            <br>

            <div class="product-select">
                <div class="quantity-select" style="display: inline-block">
                    <button><img src="{{ url_for('static', filename='images/icon-minus.svg') }}" alt="minus"></button>
                    <input type="text" value="0">
                    <button><img src="{{ url_for('static', filename='images/icon-plus.svg') }}" alt="plus"></button>
                </div>
                <button class="add-to-cart-btn"><img id="cart-icon" src="{{ url_for('static', filename='images/icon-cart.svg') }}">Add to cart</button>
            </div>
        </div>

        <div class="cart-modal">
            <h1 id="cart-modal-header">Cart</h1>

        </div>

    </div>
</div>

</body>
</html>